body {
    background-color: #97d49c;
    margin:0%;
}
header {
    background-color: #67c76f;
    padding: 10px;
    color: white;
}
header h1{
    text-align: center;
}
header p {
    text-align: center;
}
header a{
    color: white;
    text-decoration: none;
}
main{
    background-color: white;
    margin: 0px 50px 0px 50px;
    padding: 5px 15px 10px 15px;
}
main h2 {
    background-color: rgba(128, 128, 128, 0.247);
}
footer{
    background-color: #264b298e;
    text-align: center;
}
.robos{
    margin: 50%;
}